.table {
  border: 8px solid white;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.net {
  width: 20px;
  border-left: 4px solid white;
  border-right: 4px solid white;
  background: repeating-linear-gradient(-45deg, white, white 4px, transparent 4px, transparent 8px);
}

.paddle {
  height: 160px;
  width: 20px;
  border-radius: 4px;
  background-color: #bd0404;
}

.paddle.player {
  border-right: 4px solid black;
  position: absolute;
}

.paddle.computer {
  border-left: 4px solid black;
}

.table .ping-pong-ball {
  position: fixed;
  height: 20px;
  width: 20px;
  border-radius: 16px;
  background-color: #f78b00;
}
